CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Default build directory
build/project/*

# Build lib name
user-monitoring-core.dll

lib/boost_1_80_0
lib/install_boost_1_80_0